/* -------------------HTML SELECTORS--------------------- */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather';
    color: #40514E;
}

hr {
    margin: 5% auto 5%;
    border-top: dotted;
    border-width: 0.4rem;
    text-align: center;
    width: 7%;
    color: rgb(111, 109, 109);
    background-color: #E4F9f5;
}

h2 {
    color: #66bfbf;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
}

h3,
a {
    color: #11999E;
}

em{
    font-size: 1.5rem;
}

/* -----------------NAVBAR------------------ */

.bg-secondary {
    background-color: #01c5cb !important;
    height: 10vh;
}

.nav-link {
    color: #E4F9f5 !important;
}

.navbar-brand {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 9px;
    position: absolute;
    left: 5%;
}

/* -----------------TOP CONTAINER ----------------------- */

.top-container {
    padding-top: 8%;
    background-color: #E4F9f5;
    position: relative;
}

.big-name {
    color: #66bfbf;
    font-family: 'Sacramento';
    font-size: 5.625rem;
    margin-bottom: 0.2rem;
}

.desc {
    font-size: 2rem;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 3.5rem;
}

.bottom-cloud {
    position: absolute;
    top: 60vh;
    left: 19vw;
}

.mountain {
    height: 29rem;
    margin-top: 0%;
}

/* --------------------------MIDDLE CONTAINER------------------------- */

.middle-container {
    font-family: 'Mulish';
    font-size: large;
}

.profile-pic {
    margin-top: 5%;
    padding-bottom: 13px;
    height: 30vh;
}

/* -------------------SKILLS-------------------- */

.skill-webd,
.skill-momo {
    width: 30%;
    float: left;
    margin-right: 6%;
}

.skill-java {
    width: 30%;
    float: right;
    margin-left: 6%;
}

.skill-row {
    width: 50%;
    margin: 5.2rem auto 8rem;
    line-height: 2;
}

.skill-name,
.skill-desc {
    text-align: left;
}

/* ---------------------MY PROJECTS---------------------- */

.project-tripeazium {
    width: 30%;
    float: left;
    margin-right: 6%;
    border-radius: 10%;
}

.project-tindog {
    width: 30%;
    float: right;
    margin-left: 6%;
    border-radius: 100%;
}

.project-row {
    width: 50%;
    margin: 5.2rem auto 8rem;
    line-height: 2;
}

.project-name,
.project-desc {
    text-align: left;
}

.project-link{
    text-decoration: none;
}

.project-link:hover{
    background-color: #40514E;
    color: azure;
}

/* --------------CONTACT-ME---------------- */

.touch,
.touch-desc {
    line-height: 2;
}

.bottom-line {
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    line-height: 2;
    font-size: 1.3rem;
}

/* -------------------BOTTOM CONTAINER------------------- */

.bottom-container {
    font-family: 'Mulish';
    background-color: #66bfbf;
    color: #eaf6f6;
    height: 20%;
    padding: 4rem;
    padding-bottom: 0%;
}

.social-icon {
    margin-right: 1.4rem;
    height: 5vh;
    margin-bottom: 2rem;
}

.social-icon:hover {
    transform: scale(1.2);
}

.know-more {
    line-height: 3;
}

.copyright {
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 0.95rem;
    padding-bottom: 2%;
}

/* ------------------------MEDIA QUERIES------------------------ */

@media screen and (max-width : 393px) {
    .top-cloud {
        position: absolute;
        right: 5%;
        top: 3.5rem;
        width: 20vw;
    }

    .big-name {
        font-size: 23vw;
    }

    .bottom-cloud {
        width: 20vw;
        top: 40vh;
        left: 10vw;
    }

    .mountain {
        width: 95vw;
        height: 30vh;
    }

    .profile-pic {
        height: 20vh;
    }

    h2 {
        font-size: 5vh;
    }

    .touch {
        font-size: 5vh;
    }

    .touch-desc {
        font-size: 5vw;
    }

    .bottom-line {
        font-size: 5vw;
    }

}

@media screen and (min-width: 394px) and (max-width: 700px) {
    .big-name {
        font-size: 23vw;
    }

    .top-cloud {
        width: 20%;
        right: 5%;
    }

    .bottom-cloud {
        width: 20%;
        left: 10%;
    }

    .mountain {
        width: 99vw;
        height: 50vh;
    }
}

@media screen and (min-width: 701px) and (max-width: 945px) {
    .top-cloud {
        width: 15%;
        right: 3%;
        top: 2%;
    }

    .bottom-cloud {
        width: 20%;
        left: 7%;
        top: 50%;
    }

    .mountain {
        width: 99vw;
    }
}

@media screen and (min-width: 945px) and (max-width: 1101px) {
    .top-cloud {
        right: 10%;
    }

    .bottom-cloud {
        top: 50%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .top-cloud {
        right: 15%;
    }

    .bottom-cloud {
        top: 50%;
    }
}

@media screen and (max-width : 393px) {
    .social-icon {
        width: 9vw;
        height: 2.2rem;
    }
}
