/* -------------------HTML SELECTORS--------------------- */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather';
    color: #40514E;
}

hr {
    margin: 5% auto 5%;
    border-top: dotted;
    border-width: 0.4rem;
    text-align: center;
    width: 7%;
    color: rgb(111, 109, 109);
    background-color: #E4F9f5;
}

h2 {
    color: #ceb55a;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
}

h3,
a {
    color: #f04ba6;
}

em {
    font-size: 1.5rem;
}

/* -----------------TOP CONTAINER ----------------------- */

.top-container {
    background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 100vh;
    padding-top: 8%;
    z-index: 2000;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.big-name {
    font-family: 'Sacramento';
    font-size: 5.625rem;

    margin: 9rem auto 0.2rem;
}

.desc {
    color: #ffffff;
    font-size: 2rem;
}

/* --------------------------MIDDLE CONTAINER------------------------- */

.middle-container {
    font-family: 'Mulish';
    font-size: large;
}

.profile-pic {
    margin-top: 5%;
    padding-bottom: 13px;
    height: 30vh;
}

/* -------------------SKILLS-------------------- */

.skill-webd,
.skill-momo {
    width: 30%;
    float: left;
    margin-right: 6%;
}

.skill-java {
    width: 30%;
    float: right;
    margin-left: 6%;
}

.skill-row {
    width: 50%;
    margin: 5.2rem auto;
    line-height: 2;
}

.skill-name,
.skill-desc {
    text-align: left;
}

/* ---------------------MY PROJECTS---------------------- */

.project-tripeazium {
    width: 30%;
    float: left;
    margin-right: 6%;
    border-radius: 10%;
}

.project-tindog {
    width: 30%;
    float: right;
    margin-left: 6%;
    border-radius: 100%;
}

.project-row {
    width: 50%;
    margin: 5.2rem auto 8rem;
    line-height: 2;
}

.project-name,
.project-desc {
    text-align: left;
}

.project-link {
    text-decoration: none;
}

.project-link:hover {
    background-color: #40514E;
    color: azure;
}

/* --------------CONTACT-ME---------------- */

.touch,
.touch-desc {
    line-height: 2;
}

.bottom-line {
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    line-height: 2;
    font-size: 1.3rem;
}

.email-id:hover {
    background-color: #ebdc54;
    /* color: white; */
}

/* -------------------BOTTOM CONTAINER------------------- */

.bottom-container {
    font-family: 'Mulish';
    background-color: #e9bc49;
    color: #eaf6f6;
    height: 20%;
    padding: 4rem;
    padding-bottom: 0%;
}

.social-icon {
    margin-right: 1.4rem;
    height: 5vh;
    margin-bottom: 2rem;
}

.social-icon:hover {
    transform: scale(1.2);
}

.know-more {
    line-height: 3;
}

.copyright {
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 0.95rem;
    padding-bottom: 2%;
}

/* ------------------------MEDIA QUERIES------------------------ */

@media screen and (max-width : 393px) {

    .big-name {
        font-size: 23vw;
    }

    h2 {
        font-size: 5vh;
    }

    .touch {
        font-size: 5vh;
    }

    .touch-desc {
        font-size: 5vw;
    }

    .bottom-line {
        font-size: 5vw;
    }

    .know-more{
        font-size: medium;
    }
    .social-icon {
        width: 7vw;
        height: 1.8rem;
    }

}

@media screen and (min-width: 394px) and (max-width: 538px) {
    .big-name {
        font-size: 23vw;
    }
}      
